html, body {
    
    margin: 0;
    padding: 0;
    
}  

.page {
    
    padding-top: 100px;
    background-color: #CDC7E5;
    height: 100vh
        
}

.homeTitle {
    
    padding-top: 2rem;
    color: 'black';
    text-align: center;
    
}
