/* button central alignment*/
#outer {
	
   text-align: center;
   
}

/* buttons styling */
.button {
	
    width: 12rem;
    height: 8rem;
	max-width: 200px;
    min-width: 100px;
    width: 30vw;
    max-height: 100px;
    min-height: 50px;
    height: 20vw;
    
}
