#outer{
    text-align: center;
 }
 
 .button{
     max-width: 20em;
     width: 40vw;
     height: 10vh;
     min-height: 40px;
     max-height: 100px;
     
 }
 
 .chatRoomLink{
     color: white;
 }