/* logo */
img {
	
  padding: 0%;
  margin: 0 auto;
  
}

/* nav bar */
.topnav {
	
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
    border-style: solid;
    border-color: #4361EE;
    border-width: 0px 0px thin;
    background: #4361EE;
	
}

/* ranger login */
.rangerLink {
	
    float: right;
	text-decoration: none;
	padding-top: 15px;
	
}