html, body {
	
    margin: 0;
    padding: 0;

}  

.page {
	
    padding-top: 100px;
    background-color: #FFFFFF;
    height: 100vh;
}

.homeTitle {
    
    color: 'black';
    text-align: center;
}


